<div class="main-content">
    {{>header}}
    <div class="portrait">
        <img src="/img/image.jpg">
        <p>This application uses data from openWeatherMap and displays the current weather.</p>
    </div>
</div>
{{>footer}}